@import './assets/reset.css';
@import './assets/fonts/style.css';
/* * {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Istok;
}

html, body {
	position: relative;
	width: auto;
	height: 100%;
	box-sizing: border-box;
}
 */

.panel {
	margin: 0 auto;
}

/* a:link {
	text-decoration: none;
	color: #555;
}
a:visited {
	text-decoration: none;
	color: #555;
}
a:hover {
	text-decoration: none;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #555;
}
 */
