.overlay {
	color: #AAA;
	/* text-align: center; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
    overflow-y: auto;
	> div:first-child {
		padding-top: 60px;
		height: 100%;
	}

	.close-button {
		font-size: 40px;
		color: #FFF;
		position: absolute;
		top: 35px;
		right: 35px;
		width: 50px;
		height: 50px;
		margin-right: -25px;
		margin-top: -25px;
		cursor: pointer;
		transition: all 700ms;
	}

	.close-button:hover {
		color: #FAA;
		transition: all 700ms;
	}

}

.overlay-on {
	composes: overlay;
	opacity: 1;
	width: 100%;
	transition: opacity 700ms;
}

.overlay-off {
	composes: overlay;
	overflow: hidden;
	opacity: 0;
	width: 0;
	transition: opacity 700ms, width 0s linear 700ms;
}
